/* GENERAL */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Pacifico|Raleway');
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
nav, footer {
    background-color: #222;
}
nav li {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}
.navbar-dark .navbar-brand, .section-title .display-1, .styled, .menu h3, #contact h2{
    font-family: 'Pacifico', cursive;
}
.navbar-dark .navbar-toggler {
    border-color: #222;
}
.styled, .btn-link:hover, .social a i:hover, .menu h3, #contact h2 {
    color: rgb(226, 182, 63);
}
h3, .section-title, nav li {
    font-family: 'Oswald', sans-serif;
}
p, li {
    font-family: 'Raleway', sans-serif;
}
.parallax-1 {
    background-image: url("https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}
.parallax-2 {
    background-image: url("https://images.pexels.com/photos/1268551/pexels-photo-1268551.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}
.parallax-3 {
    background-image: url("https://images.pexels.com/photos/370984/pexels-photo-370984.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}
.parallax-4 {
    background-image: url("https://images.pexels.com/photos/1036857/pexels-photo-1036857.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}

#title, .display-2 {
    padding: 200px 25px;
}
.section-title {
    padding:20px;
    letter-spacing: .2em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}
.section-content {
    padding: 75px;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}
#about {
    font-size: 1.2rem;
    line-height: 2em;
}
#about h2 {
    font-size: 5em;
    margin-top: 40px;
}
.menu {
    padding: 30px;
}
.menu-top {
    padding: 20px;
    border-top: #222 solid 5px;
    border-left: #222 solid 5px;
    border-right: #222 solid 5px;
}
.menu-bottom {
    padding: 20px;
    border-bottom: #222 solid 5px;
    border-left: #222 solid 5px;
    border-right: #222 solid 5px;
}
#contact {
    height: 100%;
}

form {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    color: rgb(226, 182, 63)
}

.form-button {
    background-color: rgb(226, 182, 63);
    color: #eee;
    
}
footer {
  padding-top: 50px;
}
footer .social i {
    font-size: 2em;
    margin: 20px;
    color: #eee;
}
